
.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px;
}

.left {
    flex: 1;
}

.center {
    flex: 1;
    text-align: center;
    padding-bottom: 0px;
}

.center img {
    max-width: 300px;
    height: auto;
    border-style: outset;
    border-width: 50px;
    border-color:rgb(255, 102, 0) blue;
}

.right {
    flex: 1;
}
.right p {
    color: white;
}

.home-selfie {
    width: 33%;
    height: auto;
    border-width: 5px;
    border-style: inset;
    border-color: rgb(226, 45, 181);
    float: left;
    margin-right: 30px;
    position: static;
}

.home-selfie img {
    width: 100%;
    height: auto;
    float: left;
    margin-right: 30px;
}

.anchor_bottom {
    padding-top: 10px;
}

.title {
    color: rgb(204, 0, 255);
    font-size: xx-large;
    margin-top: 0px;
    font-family: monospace;
}

#top {
    text-align: center;
    margin-top: 10%;
    float: none;
}

.left h2 {
    color: rgb(204, 0, 255);
}

.home_nav a {
    display: block;
    text-align: center;
    margin: 5px;
    font-size: 150%;
    padding-bottom: 10px;;
}

.home_nav {
    background-color: rgb(255, 255, 255);
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50px;
    border-width: 5px;
    border-color: rgb(204, 0, 255);
    border-style: solid;
}

.home_nav .personal_info .contact {
    width: 33%;
}

.trait_lists li{
    color: white;
    font-size: larger;
}

#top #bottom a {
    font-weight: bold;
    color:rgb(42, 95, 165);
    
}

.personal_info p {
    font-family: 'Courier New', Courier, monospace;
    font-size:small;
    color: blue;
}

.contact p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 153, 0);
    font-size: small;
}

.scrollable h3 {
    width: 100%;
}












