
h3 {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(204, 0, 255);
    margin-top: 0px;
    margin-bottom: 10px;
}

a {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}

a:visited {
    color: rgb(238, 93, 238);
}

a:hover {
    color: cyan;
}

body {
    margin: 0px;
    background-color: rgb(0, 0, 0);
}