* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;

}

html,
body {
    min-height: 100vh;
}

body {
    background-image: url("../media/web-backdrop-tower.jpg");
    background-position:top;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
}

#h_title {
    color: rgba(255, 255, 255, 0.705);
}

.tile_asset_description,
.tile_asset_value {
    text-align: center;
}

.game_container {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 80%;
    min-height: 80vh;
}

.game_info {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.game_content {
    box-sizing: border-box;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 4;
    border: 5px solid rgba(78, 78, 78, 1);
    border-radius: 5px;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 10px;
    padding: 5px;
    overflow: hidden;
    background: linear-gradient(90deg, rgba(77, 0, 128, 0.8), rgba(204, 76, 204, 0.8));

}

.tile {
    min-width: 0;
    min-height: 0;
    width: 100%;
    height: 100%;
    padding: 5px;
    border: 2px solid grey;
    overflow-wrap: anywhere;
    word-break: break-word;
    border-radius: 5px;
}

.tile_option_label {
    display: block;
}

#start_game_button {
    background: linear-gradient(90deg, rgb(77, 0, 128), rgb(204, 76, 204));
    appearance: none;
    -webkit-appearance: none;
    border-radius: 10px;
    border-width: 0px;
    cursor: pointer;
}

#start_game_button .button_text_gradient {
    background-image: linear-gradient(90deg, red, blue);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: inline-block;
}


#score,
#timer,
#yap_comments {
    background-image: linear-gradient(90deg, red, blue);
    color: transparent;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    display: block;
    width: fit-content;
}

