* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html,
body {
    background-color: rgb(20, 20, 20);
}

body {
    display: grid;
    grid-template-rows: repeat(10, minmax(80px, 1fr));
    grid-template-columns: repeat(10, 1fr);
    min-height: 100vh;
}







