
.hobbies_sec h3 {
    background-color: blue;
}

.hobbies_sec p {
    font-size: 30px;
}

.gym_sec {
    padding: 10px;
    margin: 10px;
}

.archery_sec {
    padding: 10px;
    margin: 10px;
}

.pool_sec {
    padding: 10px;
    margin: 10px;
}

.gym_sec p {
    color:darkcyan;
}
.archery_sec p {
    color: rgb(11, 97, 4);
}
.pool_sec p {
    color: rgb(124, 5, 5);
}

.gym_sec_img {
    width: 30vw;
    height: auto;
    border-width: 10px;
    border-color:blue;
    border-style: ridge;
    float: left;
}

.archery_sec_img {
    width: 20vw;
    height: auto;
    border-width: 10px;
    border-color:rgb(207, 8, 207);
    border-style: solid;
    float: right;
}

.pool_sec_img {
    width: 20vw;
    height: auto;
    border-width: 10px;
    border-color:rgb(1, 122, 76);
    border-style: outset;
    float: left;
}

.hobbies_sec img {
    width: 100%;
    height: auto;
}

.home_link {
    margin: 20px;
    padding: 10px;
}

.home_link a {
    font-size: 150%;
}