#cs_image {
    display: none;
    width: 400px;
    height: 400px;
}

* {
    margin: 0;
}

#old_timer_paragraph {
    display: none;
}

#animal_image {
    display: none;
    width: 400px;
    height: 400px;
    background-position: center;
    background-size:cover;
}

img {
    margin: 10px;
    border-radius: 10px;;
}

.buttons {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

button {
    display: block;
    width: 50%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 50px;
    border-style: hidden;
    background-color: rgba(0, 0, 255, 0.75);
    transition-property: background-color;
    color: white
}

button:nth-child(2) {
    background-color: rgba(255, 0, 0, 0.75);
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: ease-in-out 250ms;
}


h1 {
    display: block;
    text-align: center;
}