
body {
    background-color: rgb(255, 255, 255);
    margin: 0;
}

body > div {
    background-color: rgb(203, 147, 214);
    margin: 1vw 1vw 1vw 1vw;
    padding: 1vh 1vh 1vh 1vh;
    
}

.header {
    position: relative;
    height: 15vh;
    width: 96vw;
}

a {
    text-decoration: none;
}

.header h2 {
    position: absolute;
    width: 100%;
    top: 50%;
    margin: 0;
    text-align: center;
}

.header img {
    position: absolute;
    max-width: 8.5%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

}

.menu {
    position: relative;
    height: 6vh;
    width: 96vw;
}

.menu a {
    display: inline-block;
    background-color: rgb(108, 20, 190);
    border-width: 0px;
    border-radius: 5px;
    border-color: purple;
    border-style: solid;
    padding: 1%;
    margin: 1%;
    height: auto;
    color: rgb(243, 125, 194);
}

.menu a:hover {
    border-width: 2px;
    background-color:rgb(243, 125, 194);
    color: rgb(108, 20, 190);
}


.aside_1 {
    box-sizing: border-box;
    float: left;
    width: 20vw;
    height: 11vh;
}

.aside_3 {
    box-sizing: border-box;
    float: right;
    width: 20vw;
    height: 50vh;
    font-size: xx-small;
}

.aside_3 ul {
    list-style: none;
    padding: 0px;
}

.aside_3 li {
    margin-bottom:0;
    font-size: large;
}

.aside_3 img {
    position: relative;
    bottom: 0%;
    max-width: 90%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    margin-left: 1vw;
}

li img {
    display: inline-block;
    height: 1vh;
}

.aside_3 li:nth-child(2n-1) {
    background-color: blue;
}

.aside_3 li:nth-child(2n) {
    background-color: rgb(0, 255, 234);
}

.aside_3 li:nth-child(4),
.aside_3 li:nth-child(6) {
    background-color: rgb(202, 201, 201);
}

.aside_1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    aspect-ratio: 1 / 1;
}

.main_content {
    box-sizing: border-box;
    width: 54vw;
    float: left;
    height: 50vh;
}

.aside_2 {
    background-color: rgb(248, 161, 180);
    box-sizing: border-box;
    float:left;
    position: absolute;
    bottom: 20.25vh;
    width: 20vw;
    height: 38vh;
    font-size:medium;
}

.aside_2 ol {
    padding-left: 1vw;
    padding-right: 1vw;
    margin: 0;
}

.aside_2 ol div {
    height: auto;
    display: inline-block;
    width: fit-content;
    padding: 0.5vh 1vw 0.5vh 1vw;
    background-color: rgba(165, 4, 31, 0.664);
    color: white;
}

.aside_2 li {
    padding: 0vh 1vw 0vh 1vw;
    margin: 1vh 1vw 1vh 0vh;
    position: relative;
    background-color: rgba(245, 65, 95, 0.664);
    width: 90%;
    font-size: medium;
    list-style-position: inside;
    border-radius: 2px;
}

.main_content > div {
    height: 40%;
    width: auto;
    padding: 3%;
    margin: 3% 3% 3% 3%;
    background-color: rgb(212, 183, 218);
    border-radius: 10px;;
}

.footer {
    position: relative;
    height: 16vh;
    width: auto;
    clear: both;
    background-color: rgb(55, 1, 71);
}

.footer a {
    padding: 1vh 1vw 1vh 1vh;
    margin: 1vh 1vw 1vh 1vh;
    width: 21%;
    font-size: small;
    height: auto;
    border-radius: 3px;
}

.links_4 {
    float: left;
    width: 33vw;
}

.links_4 a {
    float: left;
    border-color:rgb(0, 0, 0);
    border-width: 1px;
    border-style: solid;
    color: white;
}

.links_4 a:hover {
    border-radius: 5px;
    border-color: white;
    border-style: solid;
    background-color: rgb(0, 0, 0);
}

.links_3 {
    float: right;
    width: 40vw;
    height: 100%;
}

.links_3 a {
    clear: both;
    margin: 3vh 1vw 3vh 1vw;
    display: inline-block;
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    
}

#instagram {
    background-image: url("../pics/instagram.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#instagram:hover {
    background-image: url("../pics/instagram\(1\).png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#facebook {
    background-image: url("../pics/facebook.png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#facebook:hover {
    background-image: url("../pics/facebook\(1\).png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#youtube {
    background-image: url("../pics/youtube\(2\).png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

#youtube:hover {
    background-image: url("../pics/youtube\(1\).png");
    background-size: cover;
    background-position: center;
    display: inline-block;
}

